<%= welcomeMessage %>
<h1>Sails js with socket io tutorial - part 1</h1>
You can check the tutorial <a href="http://www.impacta.us/blog">here</a>.
Part1 <a href="/teamnews/">Part2</a> Part3 Part4
<br/>
<p>
<input type="text" id="name">
<button id="go-data">Submit!</button>
</p>
<br/>
<ul id="user-list">
</ul> 

 <!-- END Page Content -->
<% block('localScripts', '<script src="/view_specific/user_index_misc.js"></script>') %>