<%= welcomeMessage %>
<br/>
<p>
<input type="text" id="name">
<button id="go-data">Submit!</button>
</p>
<br/>
<ul id="user-list">
</ul> 

 <!-- END Page Content -->
<% block('localScripts', '<script src="/view_specific/user_index_misc.js"></script>') %>